# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
/.vscode
# testing
/coverage
/src/home-page-without-results.html
/src/home-page.html
/src/landing.html
/src/post-job.html
/src/profile.html
/src/js
/src/bootstrap
/src/.idea
/src/otherCode.html
/src/images

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
