@font-face {
  font-family: 'Lane-Narrow';
  src:  url('../fonts/Lane-Narrow.eot?xrp82');
  src:  url('../fonts/Lane-Narrow.eot?xrp82#iefix') format('embedded-opentype'),
    url('../fonts/Lane-Narrow.ttf?xrp82') format('truetype'),
    url('../fonts/Lane-Narrow.woff?xrp82') format('woff'),
    url('../fonts/Lane-Narrow.svg?xrp82#Lane-Narrow') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?xrp82');
  src:  url('../fonts/icomoon.eot?xrp82#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?xrp82') format('truetype'),
    url('../fonts/icomoon.woff?xrp82') format('woff'),
    url('../fonts/icomoon.svg?xrp82#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-reply:before {
  content: "\e965";
}
.icon-warning:before {
  content: "\e963";
}
.icon-questions-circular:before {
  content: "\e964";
}
.icon-paper-plane-black:before {
  content: "\e962";
}
.icon-job-icon:before {
  content: "\e960";
}
.icon-ellipsis:before {
  content: "\e95f";
}
.icon-clipboard-2:before {
  content: "\e951";
}
.icon-cart:before {
  content: "\e952";
}
.icon-service:before {
  content: "\e953";
}
.icon-support:before {
  content: "\e954";
}
.icon-legal:before {
  content: "\e955";
}
.icon-globe:before {
  content: "\e956";
}
.icon-ink:before {
  content: "\e957";
}
.icon-palette:before {
  content: "\e958";
}
.icon-system:before {
  content: "\e959";
}
.icon-computer:before {
  content: "\e95a";
}
.icon-code:before {
  content: "\e95b";
}
.icon-network-2:before {
  content: "\e95c";
}
.icon-search:before {
  content: "\e95d";
}
.icon-money:before {
  content: "\e95e";
}
.icon-user2:before {
  content: "\e950";
}
.icon-google-plus-logo:before {
  content: "\e94f";
}
.icon-right-arrow:before {
  content: "\e94e";
}
.icon-heart:before {
  content: "\e94d";
}
.icon-play:before {
  content: "\e94c";
}
.icon-download2:before {
  content: "\e94b";
}
.icon-bank:before {
  content: "\e949";
}
.icon-credit-card:before {
  content: "\e94a";
}
.icon-circle-up:before {
  content: "\e947";
}
.icon-circle-down:before {
  content: "\e948";
}
.icon-handshake:before {
  content: "\e961";
}
.icon-upload:before {
  content: "\e946";
}
.icon-drawing-pencil:before {
  content: "\e943";
}
.icon-optical:before {
  content: "\e945";
}
.icon-pdf-file:before {
  content: "\e93f";
}
.icon-file-icon:before {
  content: "\e940";
}
.icon-music-note:before {
  content: "\e941";
}
.icon-film-strip:before {
  content: "\e942";
}
.icon-picture:before {
  content: "\e944";
}
.icon-badge-solid:before {
  content: "\e92d";
}
.icon-badge-flat .path1:before {
  content: "\e930";
  color: rgb(255, 153, 31);
}
.icon-badge-flat .path2:before {
  content: "\e936";
  margin-left: -0.724609375em;
  color: rgb(255, 118, 26);
}
.icon-badge-flat .path3:before {
  content: "\e937";
  margin-left: -0.724609375em;
  color: rgb(255, 153, 31);
}
.icon-badge-flat .path4:before {
  content: "\e938";
  margin-left: -0.724609375em;
  color: rgb(255, 118, 26);
}
.icon-badge-flat .path5:before {
  content: "\e939";
  margin-left: -0.724609375em;
  color: rgb(255, 197, 51);
}
.icon-badge-flat .path6:before {
  content: "\e93a";
  margin-left: -0.724609375em;
  color: rgb(242, 172, 15);
}
.icon-badge-flat .path7:before {
  content: "\e93b";
  margin-left: -0.724609375em;
  color: rgb(252, 234, 129);
}
.icon-badge-flat .path8:before {
  content: "\e93c";
  margin-left: -0.724609375em;
  color: rgb(242, 172, 15);
}
.icon-badge-flat .path9:before {
  content: "\e93d";
  margin-left: -0.724609375em;
  color: rgb(255, 255, 255);
}
.icon-badge-flat .path10:before {
  content: "\e93e";
  margin-left: -0.724609375em;
  color: rgb(255, 255, 255);
}
.icon-pencil:before {
  content: "\e92c";
}
.icon-clipboard:before {
  content: "\e92b";
}
.icon-comment:before {
  content: "\e91a";
}
.icon-output:before {
  content: "\e92a";
}
.icon-comments:before {
  content: "\e92e";
}
.icon-calendar2:before {
  content: "\e92f";
}
.icon-shape:before {
  content: "\e931";
}
.icon-wallet:before {
  content: "\e932";
}
.icon-clock-1:before {
  content: "\e933";
}
.icon-location:before {
  content: "\e934";
}
.icon-award:before {
  content: "\e935";
}
.icon-down-arrow:before {
  content: "\e919";
}
.icon-add:before {
  content: "\e910";
}
.icon-icon:before {
  content: "\e917";
}
.icon-loupe:before {
  content: "\e90e";
}
.icon-zip:before {
  content: "\e903";
}
.icon-accounts:before {
  content: "\e921";
}
.icon-jobs:before {
  content: "\e922";
}
.icon-media:before {
  content: "\e923";
}
.icon-message:before {
  content: "\e924";
}
.icon-overview:before {
  content: "\e925";
}
.icon-profile:before {
  content: "\e926";
}
.icon-promo:before {
  content: "\e927";
}
.icon-saved:before {
  content: "\e928";
}
.icon-skills:before {
  content: "\e929";
}
.icon-save:before {
  content: "\e920";
}
.icon-check-mark:before {
  content: "\e91f";
}
.icon-plus-button:before {
  content: "\e91e";
}
.icon-file:before {
  content: "\e91d";
}
.icon-flag:before {
  content: "\e91b";
}
.icon-settings:before {
  content: "\e91c";
}
.icon-dollar-coin:before {
  content: "\e916";
}
.icon-star:before {
  content: "\e918";
}
.icon-info-sign:before {
  content: "\e915";
}
.icon-download:before {
  content: "\e913";
}
.icon-prev-arrow:before {
  content: "\e914";
}
.icon-next-arrow:before {
  content: "\e912";
}
.icon-hourglass:before {
  content: "\e911";
}
.icon-garbage:before {
  content: "\e90f";
}
.icon-calendar:before {
  content: "\e90c";
}
.icon-filter:before {
  content: "\e90d";
}
.icon-two-polaroid-pictures:before {
  content: "\e90a";
}
.icon-user:before {
  content: "\e90b";
}
.icon-tag:before {
  content: "\e905";
}
.icon-placeholder:before {
  content: "\e906";
}
.icon-clock:before {
  content: "\e907";
}
.icon-speech:before {
  content: "\e908";
}
.icon-photo-camera:before {
  content: "\e909";
}
.icon-dollars-sign:before {
  content: "\e900";
}
.icon-conversation:before {
  content: "\e901";
}
.icon-timer:before {
  content: "\e902";
}
.icon-chart:before {
  content: "\e904";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-dribbble:before {
  content: "\eaa7";
}
.icon-behance:before {
  content: "\eaa8";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-attachment:before {
  content: "\e9cd";
}
.icon-smile:before {
  content: "\e9e1";
}
.icon-linkedin2:before {
  content: "\eaca";
}