/*main colors:
    blue: #15a4fa;
    green: #1dd459;
    orange: #ffa51e;
    red: #ff6e85;
    blue-green: #2bd285;
 */



html{
    position: relative;
    min-height: 100%;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: -.25px;
    background: #eeeeee;
    color: #3c3d3d;
}

.container-fluid {
    max-width: 1396px;
}

.wrapper {
    min-height: 100vh;
}
/*** Headers Styles ***/

h1,
h2 {
    font-weight: normal;
}

h1 {
}

h2 {
  
}
h3 {
   
}

h4 {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
}


h5 {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 0;
}

h6{
    font-size: 16px;
    font-weight: 500;
}

a{
    color: #15a4fa;
}

a:hover{
    color: #15a4fa;
    text-decoration: none;
}

.centered{
    margin: auto;
}
.left-align{
    text-align: left;
}
.desktop-hide {
    display: none;
}

/***/

.caret {
    margin-top: -3px;
    margin-left: 5px;
}

.dropdown-menu-down{
    position: absolute;
    background-color: #fff;
    min-width: 350px;
    padding: 20px 50px 25px;
    border: 1px solid #008ed6;
    border-radius: 0;
    -webkit-box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin: 0;
    list-style: none;
    z-index: 1002;
}

.new-box {
    height: auto;
    width: max-content;
    display: -webkit-inline-box;
}

.user-box-nav .dropdown .show{
    will-change: transform;
    position: absolute;
    transform: translate3d(0px, 0px, 0px);
    top: 50px;
    left: 0px;
}
.dropdown-menu > li > a {
    color: #212529;
    text-decoration: none;
    font-weight: 300;
    font-size: 13px;
    padding: 10px 0;
}
.dropdown-menu > li:last-child > a {
    border: none;
}

.dropdown-menu > li.no-border > a{
  border: none;
}

.no-border{
    border: none;
  }
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color:#008ed6;
    text-decoration: none;
    background-color: transparent;
}

.dropdown-menu > li > a.btn-dropdown{
  border: 1px solid #54c78d;
  background: transparent;
  color:#54c78d;
  padding: 15px 0;
  margin-bottom: 10px;
  text-align: left;
}
 
.dropdown-menu > li > a.btn-dropdown:hover{
  background: #54c78d;
  color: #fff;
}


/*** FORMS ***/

.form-control {
    display: block;
    width: 100%;
    height: 35px;
    padding: 6px 12px;
    font-size: 14px;
    /* line-height: 1.42857143; */
    /* color: #555; */
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9dada;
    border-radius: 30px;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.post-job-inputs .job-title {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    border-radius: 15px;
    margin: 15px 0;
    font-size: 13px;
    padding: 5px 10px;
    line-height: 1;
    height: auto;
}
.post-job-inputs .job-descr {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    border-radius: 6px;
    min-height: 130px;
    font-size: 13px;
    margin: 15px 0;
    padding: 5px 10px;
}

/***/

/*bg-classes - start*/
.bg-cover {
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.bg-contain {
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}
/*bg-classes - end*/

.circul-shape {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}
.square-shape-wrapper {
    position: relative;
    padding-top: 100%;
}
.square-shape-block {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.padding-bottom-none {
    padding-bottom: 0;
}
.centered-text {
	text-align: center;
}

.centered {
	margin-left: auto;
	margin-right: auto;
    display: block;
}
.white-border-bottom {
        border-bottom: 10px solid white;
}
.fullwidth {
	width: 100%;
	height: auto;
}

.float-right{
    float: right;
}

.float-left{
    float: left;
}

.panel-default {
    border-color: #e5e5e5;
}

.panel {
    position: relative;
    margin-bottom: 15px;
    padding: 20px;
    overflow: auto;
    background-color: #fff;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.panel-header{
    text-align: center;
    border: none;
    box-shadow: none;
}
.panel-green{
    background: #1dd459;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    padding: 12px 20px;
}
.panel-gray {
    background-color: #dde2e6;
    color: #4b5053;
    border: none;
    -webkit-box-shadow: 0 1px 1px rgba(204,204,204,1);
    box-shadow: 0 1px 1px rgba(204,204,204,1);
}
.panel-tab {
    margin: 8px 0;
    padding: 13px 30px;
    cursor: pointer;
}
.panel-blue {
    background-color: #e7f5fe;
    border: solid 1px #aee1ff;
    color: #15a4fa;
}
.panel-orange {
    background-color: #ffeecd;
    border: solid 1px #ffd79a;
    color: #ffa51e;
}
.panel-orange .btn {
    border: solid 1px #ffd79a;
    color: #ffa51e;
}
.panel-orange .btn:hover {
    color: #ffa51e;
}
.panel-pink {
    background-color: #fae2ff;
    border: solid 1px #cbb4cf;
    color: #b774c5;
}
.panel-pink .btn{
    border: solid 1px #cbb4cf;
    color: #b774c5;
}
.panel-pink .btn:hover {
    color: #b774c5;
}
.panel-light-green {
    background-color: #f3fffa;
    border: solid 1px #2bd285;
    color: #6f6f71;
}
.panel-light-green .icon {
    color: #2bd285;
}
.panel-red {
    background-color: #fff1f5;
    border: solid 1px #d30039;
    color: #6f6f71;
}
.panel-red .icon {
    color: #d30039;
}
.panel-yellow {
    background-color: #fffaf1;
    border: solid 1px #f5a623;
    color: #6f6f71;
}
.panel-yellow .icon {
    color: #f5a623;
}
.list{
    list-style: none;
    padding: 0;
}

.no-mrg{
    margin: 0;
}

.no-pad{
    padding: 0;
}

.content{
    margin-top: 25px;
    margin-bottom: 40px;
}

.arrow{
   top: -22px;
   margin-left: -11px;
    border-top-width: 0;
    border-width: 11px;
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-bottom-color: #DFF0D8;
}

.blue-color{
    color: #15a4fa;
}

/*rating stars*/
.stars-group {
    direction: rtl;
    unicode-bidi: bidi-override;
    max-width: 150px;
    color: #15a4fa;
    font-size: 15px;
    margin-top: -2px;
}
.stars-group > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.stars-group > span:hover:before,
.stars-group > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}

/*item-list with icons*/
section.item-group {
    padding: 15px;
    padding-right: 0;
}
.item-group .item-info {
    font-size: 13px;
    color: #4b5053;
    position: relative;
    padding: 10px 15px 10px 30px;
}
.item-group .item-info .item-info_title {
    letter-spacing: -0.25px;
    position: relative;
}
.item-group .item-info .item-info_title .icon {
    color: #b4b7bb;
    font-size: 20px;    
}
.item-group .item-info > span {
    display: inline-block;
}
.item-group .item-info_title {
    cursor: pointer;
}
.item-group .item-info_title .icon {
    position: absolute;
    left: -30px;
    top: 0;
    line-height: 25px;
}
.item-group .item-info .item-info_text {
    line-height: 25px;
    margin: 10px 0 0 0;
}

/*flexbox*/
.flexbox {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
.flex-vertical {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.justify-space-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
}
.justify-space-around {
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    justify-content: space-around;
}
.justify-space-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
}
.justify-space-start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    justify-content: flex-start;
}
.vertical-align-items-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
}
.flex-wrap {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.align-items-baseline {
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    -webkit-align-items: baseline;
    -moz-align-items: baseline;
    align-items: baseline;
}
/*progress-bar*/
.my-progress-bar {
    text-align: left;
    line-height: 20px;
}
.my-progress-bar .progress-bar  {
    background-color: #15a4fa;
}
.my-progress-bar .progress {
    width: 85%;
    max-width: 185px;
    height: 10px;
    display: inline-block;
    margin: auto 5px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    border-radius: 15px;
    background-color: #dedede;
    box-shadow: none;
    border: none;
    outline: none;
}
.my-progress-bar .progress .progress-bar {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    border-radius: 15px;
}
.my-progress-bar .persent-info {
    color: #4b5053;
    font-size: 13px;
    -webkit-flex-shrink: 1;
    -moz-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    margin: auto 5px;
    opacity: 0.9;
    padding-left: 5px;
} 


.caret-top {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    margin-left: -2px;
    border-bottom: 4px dashed;
    border-bottom: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

/*rad circul*/
.notif{
    display: block;
    width: 8px;
    height: 8px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: -7px;
    right: -7px;
    background: #ff4444;
}
.award {
    padding: 10px;
    color: #ffc533;
    font-size: 22px;
}

hr {
    margin: 0 40px;
}

/*radio-block*/
.radio-block .radio input {
    visibility: hidden;
}
.radio-block .radio label {
    position: relative;

}
.radio-block .radio:last-child label {
    margin-right: 0;
}
.radio-block .radio .radio-text {
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    color: #939698;
}
.radio-block .radio .radio-circle {
    width: 10px;
    height: 10px;
    margin: 5px;
    display: inline-block;
    background-color: #e0e0e0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 3px;
}
.radio-block .radio input:checked + label > .radio-circle,
.radio-block .radio:hover .radio-circle {
    background-color: #15a4fa;
}

/*checkbox-block*/
.checkbox-block input {
    visibility: hidden;
    position: absolute;
    z-index: -9999px;
}
.checkbox-block label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    margin-bottom: 10px;
}
.checkbox-block .checkbox-text {
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    color: #7f7f7f;
    font-weight: normal;
}
.checkbox-circle {
    width: 13px;
    height: 13px;
    border: 1px solid #15a4fa;
    display: inline-block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -6px;
    padding: 2px;
}
.checkbox-circle .icon,
.checkbox-sqw .icon {
    visibility: hidden;
    font-size: 8px;
}
.checkbox-sqw {
    width: 15px;
    height: 15px;
    border: 1px solid #327953;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -7px;
    padding: 3px;
    font-size: 8px;
}
input:checked + label > .checkbox-circle,
.checkbox-block:hover .checkbox-circle,
.radio:hover .checkbox-circle,
input:checked + label > .checkbox-sqw,
.checkbox-block:hover .checkbox-sqw,
.radio:hover .checkbox-sqw {
    color: #15a4fa;
}
input:checked + label > .checkbox-circle .icon,
.checkbox-block:hover .checkbox-circle .icon,
.radio:hover .checkbox-circle .icon,
input:checked + label > .checkbox-sqw .icon,
.checkbox-block:hover .checkbox-sqw .icon,
.radio:hover .checkbox-sqw .icon {
    visibility: visible;
}

/*radio-switcher - START*/
.btn.radio-switcher {
    background-color: #fff;
    padding: 3px;
    width: 60px;
}
.btn.radio-switcher .circul-shape {
    background-color: #15a4fa;
    width: 24px;
    height: 24px;
    color: #fff;
    text-align: center;
    padding: 4px;
}
/*radio-switcher - END*/


/*my-select-options*/
.my-select-box {
    position: relative;
}
.my-select-box .my-select-options {
    display: none;
}
.my-select-box.open .my-select-options {
    display: block;
}
.my-select-box .my-select-result {
    cursor: pointer;
}
.my-select-box .my-select-result .caret{
    margin-top: 0;
}
.my-select-options {
    background-color: #fff;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    border-radius: 15px;
    top: 30px;
    position: absolute;
    right: -20px;
    width: 100%;
    min-width: 300px;
    z-index: 1000;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, .1);
}
.my-select-options .caret-block {
    position: absolute;
    width: 100%;
    right: 0;
    left: 0;
    top: -15px;
    text-align: center;
}
.my-select-options .caret-top {
    border-bottom-color: #fff;
    border-width: 15px;
}
.my-select-options .radio-block {
    padding: 5px 15px;
}
.my-select-options label {
    color: #4b5053;
    font-size: 13px;
    min-height: auto;
    line-height: 15px;
}
.my-select-options .check-mark {
    position: absolute;
    left: 0;
    border: 1px solid #dedede;
    width: 15px;
    height: 15px;
    font-size: 13px;
    line-height: 15px;
}
.my-select-options input + label .check-mark {
    color: #fff;
}
.my-select-options input:checked + label .check-mark {
    color: #15a4fa;
}


/*separator - start*/
.separator {
    border-top: 1px solid #e4e7e9;
    text-align: center;
    margin: 0 10px;
}
.separator-text {
    vertical-align: top;
    color: #dadee1;
    font-size: 13px;
    line-height: 13px;
    background-color: #fff;
    padding: 0 15px;
    display: inline-block;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
/*separato - end*/


/*dropdown-block - start*/
.dropdown-block {
    border-bottom: 1px solid #d8dcdf;
}
.dropdown-block.opened .dropdown-block-nav {
    background-color: #15a4fa;
    color: #fff;
}
.dropdown-block .dropdown-toggle-btn {
    padding: 5px;
    margin-left: 15px;
    cursor: pointer;
    color: #dcdcdc;
}
.dropdown-block.opened .dropdown-toggle-btn {
    color: #fff;
}
.dropdown-block.opened .dropdown-toggle-btn .icon {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
/*dropdown-block - end


/*table classes*/
.display-table {
    display: table;
}
.display-table-tr {
    display: table-row;
}
.display-table-td {
    display: table-cell;
}
.display-table-th {
    display: table-cell;
    font-weight: bold;
}
.display-table-thead {
    display: table-header-group;
}
.display-table-thead .display-table-th {
    vertical-align: middle;
}
.display-table-tbody {
    display: table-row-group;
}

.flex-table {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.flex-table .flex-table-row {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
.flex-table-cell {
    width: auto;
    text-align: center;
    margin: auto;
}
.flex-table-left {
    margin-left: 0;
    text-align: left;
}
.flex-table-right {
    margin-right: 0;
    text-align: right;
}
.flex-table-top {
    margin-top: 0;
}


.skill-tags-block .skill-tag {
    margin: 7px 2px;
    padding: 5px;
    font-size: 10px;
    line-height: 11px;
    color: #15a4fa;
    border: 1px solid #15a4fa;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    border-radius: 15px;
    float: left;
    cursor: pointer;
}
.skill-tags-block .skill-tag:hover {
    color: #fff;
    background-color: #15a4fa;
}

@import 'media.css';
